@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
    --primary-color: #fff;
    --secondary-color: #000;

    --primary-text-color: #151D48;
    --secondary-text-color: rgb(114,145,119);

    --body-bg-color:#FAFBFC;
    --component-bg-color:#fff;

    --theme-color:#5D5FEF;


  }
